body{
    background-color: burlywood;
    color: maroon;
    font-family: sans-serif;
    margin:0px
}
header{
    border-bottom: dotted 4px rgb(46, 133, 45);
    padding: 10px;
    font-size: 20px;
    color: rgb(59, 172, 37);
}