body{
    background-color: burlywood;
    color: maroon;
    font-family: sans-serif;
    margin:0px
}
header{
    border-bottom: dotted 4px rgb(42, 179, 40);
    padding: 10px;
    font-size: 20px;
    color: rgb(40, 110, 26);
}