body{
    background-color: burlywood;
    color: maroon;
    font-family: sans-serif;
    margin:0px
}
header{
    border-bottom: dotted 4px rgb(42, 179, 40);
    padding: 10px;
    font-size: 20px;
    color: rgb(148, 17, 17);
}
section {
    background-color: yellowgreen;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}